# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
publish/
plesk-yukle/
plesk-yukle.zip
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# IDE
.vs/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*~

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Logs & temp
*.log
logs/
tmp/
temp/

# Secrets — asla commit etmeyin
appsettings.Development.json
appsettings.Local.json
appsettings.Production.json
*.env
.env
.env.*
!.env.example

# Flutter (ileride)
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Node / Web (ileride)
node_modules/
dist/
.npm

# SQL backups
*.bak
*.mdf
*.ldf
.vercel
