# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.iml
.idea/
*.lock

# Platform (flutter create sonrası)
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
