{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "SystemDb": "Server=localhost;Database=ecari_system;User Id=sa;Password=SIFRE;TrustServerCertificate=True;Encrypt=True",
    "TenantDbTemplate": "Server=localhost;Database={0};User Id=sa;Password=SIFRE;TrustServerCertificate=True;Encrypt=True"
  },
  "Jwt": {
    "Secret": "EN-AZ-32-KARAKTER-GIZLI-ANAHTAR-BURAYA",
    "Issuer": "ecari",
    "Audience": "ecari",
    "AccessTokenMinutes": 480
  },
  "Cors": {
    "Origins": [
      "https://ecari.vercel.app",
      "https://www.SIZIN-DOMAIN.com"
    ]
  }
}
